<a href="https://colab.research.google.com/github/ramon-campos/python-zero/blob/main/python-tuplas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuplas**

As tuplas são variáveis compostas imutáveis.

## **Estrutura de uma Tupla**

As variáveis comuns só conseguem armazenar um único valor por vez. Por outro lado, as tuplas conseguem armazenar diversos valores diferentes dentro de uma única variável.

Elas são muito úteis para não precisarmos ficar declarando infinitas variáveis.

Para declarar uma tupla basta colocar todos os valores entre parênteses e separados por vírgula:

```
tupla = ('var1', 'var2', 'var3')
```

### **Exemplo #1**

Defina uma tupla com 3 strings e use o comando `print` para ver como ela se apresenta:

In [ ]:
# Definindo a tupla
t1 = ('Janeiro', 'Fevereiro', 'Março')

# Imprimindo a tupla
print(t1)

('Janeiro', 'Fevereiro', 'Março')

### **Exemplo #2**

Defina outra tupla, mas agora com valores numéricos:

In [ ]:
# Definindo a tupla
t2 = (1, 2, 3)

# Imprimindo a tupla
print(t2)

(1, 2, 3)

### **Exemplo #3**

Defina uma tupla com vários tipos de dados dentro da mesma tupla:

In [ ]:
# Definindo a tupla
t3 = ('Janeiro', 1, True)

# Imprimindo a tupla
print(t3)

('Janeiro', 1, True)

Como podemos ver, as tuplas aceitam qualquer tipo de dado e é possível ter mais de um tipo de dado dentro da mesma tupla.

## **Acessando Valores de uma Tupla**

Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes.

Cada valor dentro da tupla fica salvo como um índice que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.

Então para a tupla abaixo:
```
      [0] [1] [2]
t2 = ( 1,  2,  3)
```
Os termos dela são:
```
t2[0] == 1
t2[1] == 2
t2[2] == 3
```

### **Exemplo #1**

Para a tupla acima, tente imprimir cada um dos seus valores:

In [ ]:
print(t2[0])
print(t2[1])
print(t2[2])

1
2
3

### **Exemplo #2**

Imprima a soma de cada valor desta tupla:

In [ ]:
soma = t2[0] + t2[1] + t2[2]
print(soma)

6

## **Acessando Múltiplos Valores da Tupla**

Também é possível acessar mais de um valor ao mesmo tempo colocando entre os colchetes o intervalo que você quer acessar.

> `t2[0:2]` : são os 2 primeiros valor desta tupla : `1, 2` <br>
> `t2[:2] ` : são os 2 primeiros valor desta tupla : `1, 2` <br>
> `t2[1:] ` : é do 3º ao último termo desta tupla  : `2, 3` <br>
> `t2[-1] ` : é último termo desta tupla           : `3` <br>

Lembre-se que, assim como no **`range`**, o último valor dentro do colchete não é acessado.

### **Exemplo**

Teste os itens acima:

In [ ]:
print(t2)
print(t2[0:2])
print(t2[:2])
print(t2[1:])
print(t2[-1])

(1, 2, 3)
(1, 2)
(1, 2)
(2, 3)
3

## **Tipos e suas Propriedades**

**As tuplas são imutáveis**, ou seja, a partir do momento que ela é declarada, não é mais possível mudar seus valores.

### **Exemplo**

Defina uma tupla `t4 = (1, 3, 5, 7)` e, em seguida, tente mudar o seu terceiro valor para 8.

In [ ]:

t4 = (1, 3, 5, 7)
t4[2] = 2

TypeError: ignored

Como podemos ver na mensagem de erro, realmente não é possível mudarmos o seu valor.

Já que a tupla é definida no começo do programa e depois não pode mais ser mudada, ela é muito utilizada como variável de segurança para evitar modificações acidentais durante a execução de programas complexos.

## **Tipo da Tupla e de seus Valores**

A tupla possui o seu próprio tipo: `tuple`. Porém, os valores de cada um dos seus termos permanecem com o tipo original. 

Mas, se pegarmos vários valores dentro da tupla, ele será listado ainda como do tipo `tuple`.

### **Exemplo**

Verifique o tipo das variáveis: 

* `t3`
* `t3[0]`
* `t3[1]`
* `t3[2]`
* `t3[0:2]`
* `t3[1:]`

In [ ]:
print(type(t3))
print(type(t3[0]))
print(type(t3[1]))
print(type(t3[2]))
print(type(t3[0:2]))
print(type(t3[0:]))

<class 'tuple'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'tuple'>
<class 'tuple'>

## **Funções com Tuplas**

Temos algumas funções muito usadas em tuplas:

> `len(t1)` : quantidade de termos da tupla <br>
> `sorted(t1)` : ordenar <br>
> `t1.count(valor)` : contar a qtd de “valor” <br>
> `t1.index(valor)` : encontrar a 1ª posição de “valor” <br>
> `t1.index(valor, pos)`	: encontrar “valor” a partir da “pos” <br>
> `t1 + t2` : concatenar tuplas <br>

### **Exemplo**

Utilizando as tuplas abaixo:

```
t5 = ('Lanche', 'Batata', 'Refri')
t6 = (0, 6, 4, 2, 8, 6, 4)
t7 = (1, 3, 3, 5, 3, 5, 7)
```
Faça:

* Calcule o tamanho das tuplas: t5 e t6
* Imprima as tuplas ordenadas: t5 e t6 e depois reimprima-as
* Conte quantas vezes aparecem o valor 3 na t7
* Procure onde aparece o valor 'Tablet' na t5
* Procure o valor 5 na t7 após o 4º termo
* Concatene as tuplas t6 e t7

In [ ]:
t5 = ('Smartphone', 'Tablet', 'Notebook')
t6 = (0, 6, 4, 2, 8, 6, 4)
t7 = (1, 3, 3, 5, 3, 5, 7)

In [ ]:
# Tamanho das tuplas t5 e t6
print(len(t5))
print(len(t6))

3
7

In [ ]:
# Imprimindo tuplas ordenadas t5 e t6
print(sorted(t5))
print(sorted(t6))

['Notebook', 'Smartphone', 'Tablet']
[0, 2, 4, 4, 6, 6, 8]

In [ ]:
# Conte quantas vezes aparece 3 na t7
t7.count(3)

3

In [ ]:
# Onde aparece 'Tablet' na t5
t5.index('Tablet')

1

In [ ]:
# Procure valor 5 na t7 após o 4º termo
print('t7[{}]' .format(t7.index(5, 4)))

t7[5]

In [ ]:
# Concatene as tuplas t6 e t7
print('t6 + t7: {}' .format(t6 + t7))

# Concatene as tuplas t7 e t6
print('t7 + t6: {}' .format(t7 + t6))

t6 + t7: (0, 6, 4, 2, 8, 6, 4, 1, 3, 3, 5, 3, 5, 7)
t7 + t6: (1, 3, 3, 5, 3, 5, 7, 0, 6, 4, 2, 8, 6, 4)

## **Tuplas na Estrutura `for`**

As tuplas possuem vários valores, assim como o `range()`. Portanto, podemos rodar um looping de `for` com os valores diretos de uma lista.

### **Estrutura**

A partir do momento que a tupla está definida podemos rodar o `for` utilizando:

```
for i in tupla:
```
Quando utilizarmos esse comando, em cada passo do loop a variável de controle `i` vai valer cada item da tupla até percorrermos toda a tupla.

### **Exemplo #1**

Dada a tupla `t1 = ('Janeiro','Fevereiro','Março')`, imprima seus valores.

In [ ]:
for i in t1:
  print(i)

Janeiro
Fevereiro
Março

### **Exemplo #2**

Some todos os valores da tupla t2:

In [ ]:
soma = 0

for i in t2:
  soma += i

print('A soma é igual a {}' .format(soma))

A soma é igual a 6

## **Enumerate()**

Quando usamos essa função dentro da declaração de um `for`, ela irá mostrar para a gente tanto o valor da variável de controle quanto também o índice dela. Só precisamos fazer um pequeno ajuste na sintaxe:

```
for indice,valor in enumerate(t1):
```

### **Exemplo #1**

Plote os itens da tupla t1 mostrando os seus índices.

In [ ]:
for indice, valor in enumerate(t1):
  print('t1[{}] = {}' .format(indice, valor))

t1[0] = Janeiro
t1[1] = Fevereiro
t1[2] = Março